
<form action="{% url 'update_password' %}" method="post">
    {% csrf_token %}


<table align="center">
    <tr>
        <th><input type="hidden" value="{{ data.Merchant_Id }}" name="merchant_id"></th>
    </tr>
    <tr>
        <th><input type="hidden" value="{{ data.Merchant_Name }}" name="merchant_name"></th>
    </tr>
    <tr>
        <th><input type="hidden"  value="{{ data.Merchant_Contact }}" name="merchant_contact"></th>
    </tr>
    <tr><th>Email</th>
        <th><input type="text" value="{{ data.Merchant_Email }}" name="merchant_email"></th>
    </tr>
    <tr><th>Old Password</th>
        <th colspan="2"><input type="text" value="{{ data.Merchant_Password }}" name="merchant_password"></th></tr>
    <tr><th>New Password</th>
        <th colspan="2"><input type="text"  name="merchant_new_password"></th></tr>
    <tr><th>Re-Type New Password</th>
        <th colspan="2"><input type="text" name="merchant_retype_new_password"></th></tr>
{#    <tr><th>Merchant_Email</th>#}
{#        <th><input type="text" value="{{ data.Merchant_Id }}"></th></tr>#}
    <tr>
        <th colspan="2">
            <button type="submit">Update</button>
        </th>
    </tr>
</table>
    </form>
<h1>{{ message }}</h1>